<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
      <title>{{{__ "title"}}}</title>
	   <link rel="icon" type="image/x-icon" href="favicon.ico">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-chosen.css" rel="stylesheet">
		<link href="style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<script src="js/jquery-1.11.3.js"></script>
		<script src="js/colorbrewer.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/typed.min.js"></script>
		<script src="js/chosen.jquery.js"></script>
		<script src="js/jquery.animateNumber.min.js"></script>
		<script src="js/d3.js"></script>
		<script src="js/hexbin.min.js"></script>
		<script src="js/topojson.js"></script>
		<script src="js/d3.tip.js"></script>
		<script src="js/queue.min.js"></script>
		<script src="js/js.cookie.js"></script>
		<!-- <script src="dist.js"></script> -->
		<script src="mapka.js"></script>
</head>
<body>
    {{{body}}}
<footer class="footer">
  <div class="container">
	<p class="text-muted">© 2016, <a href="http://alyaxey.yaskevich.com/">{{{__ "Alyaxey Yaskevich"}}}</a>. Mapka v.0.7 (private beta).</p>
	<p class="text-muted">{{{__ "Built with"}}} <span class="glyphicon glyphicon-heart"></span> {{{__ "and"}}} <strong>JavaScript</strong> (<a href="https://d3js.org/">D3</a>&#47;<a href="https://jquery.com/
">JQuery</a> on <a href="https://nodejs.org/">NodeJS</a>). UI {{{__ "of"}}} <a href="http://getbootstrap.com">Bootstrap</a>. {{{__ "Map colorschemes by"}}} <a href="http://colorbrewer2.org">Colorbrewer</a>.</p>
  </div>
</footer>
</body>
</html>